/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Set background image */
body {
    background-image: url('air.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Center the container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(160, 160, 150, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Style the header and logo */
header {
    text-align: center;
    margin-bottom: 20px;
}

header img {
    max-width: 200px;
}

/* Style the search form */
form {
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #357ae8;
}
